.header {
  height: 100vh;
  /* background-image: url(../src/assets/beach.jpg); */
  background-size: cover;
  background-position: top;
  /* position: relative; */
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 60%;
  left: 40%;
  transform: translate(-54%, -50%);
}

.heading-primary-main {
  display: block;
  /* max-width: 800px; */
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 15px;
}
.heading-primary-sub {
  text-transform: none;
  display: block;
  max-width: 400px;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 5px;
}
